@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

#the-great-sermon-handicap ul{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#the-great-sermon-handicap li{
	list-style-type: none;
	text-align: left;
	text-indent: -1em;
}

#the-great-sermon-handicap ul > p:first-child,
#the-great-sermon-handicap ul > p:last-of-type{
	text-align: center;
	text-indent: 0
}

#the-metropolitan-touch ul{
	list-style-type: none;
	text-align: center;
	text-indent: 0
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}
