@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

#bertie-changes-his-mind blockquote p{
	text-indent: 0;
}

#the-rummy-affair-of-old-biffy blockquote,
#the-great-sermon-handicap blockquote:nth-of-type(2){
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#the-rummy-affair-of-old-biffy blockquote > p:nth-child(-n+2),
#the-great-sermon-handicap blockquote:nth-of-type(2) > p:first-child{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#the-great-sermon-handicap ul{
	font-style: italic;
	margin: 0;
	list-style-type: none;
}

#the-great-sermon-handicap ul ~ p{
	text-align: center;
	text-indent: 0;
}

#the-great-sermon-handicap ul + p + p{
	margin-top: 1em;
}

#the-metropolitan-touch blockquote:nth-of-type(3){
	font-style: italic;
	text-align: center;
}

#the-metropolitan-touch blockquote:nth-of-type(3) i{
	font-style: normal;
}

#bingo-and-the-little-woman blockquote,
#extricating-young-gussie blockquote,
#jeeves-and-the-chump-cyril blockquote,
#jeeves-takes-charge blockquote:nth-of-type(3),
#the-metropolitan-touch [epub|type~="z3998:letter"]{
	font-style: italic;
}

[epub|type~="z3998:letter"] header{
	text-align: initial;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
